DJANGO_SECRET_KEY=secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=db-name-here
DB_USER=db-user-here
DB_PASSWORD=db-password-here
DB_HOST=127.0.0.1
DB_PORT=5433
CORS_ALLOWED_ORIGINS=http://localhost:4200